h1{
    font-size: 1.777em;
    line-height: 1.2em;
    margin-top: 1.6em;
    font-weight: bold;
    margin-right: 0px;
    margin-bottom: 0.67em;
    margin-left: 0px;
}


section{
    overflow: hidden;
    padding: 0 1em;
    word-wrap: break-word;
}

.quiet{
    color: #999;
}

.section-wrapper {
    max-width: 540px;
    margin: 0 auto;
}

html{
    font-family: "jaf-facitweb","Helvetica Neue", Arial , sans-serif;
}