
.noPadding{
    padding-left: 0rem;
    padding-right: 0rem;
}

.content{
 //   background-color: #f5f8ff;
//    height: 50vh;
 //   top: 4.5rem;
    width: 100%;
    background-color: pink;
    height: calc(100vh - 4.5rem);
   // height: 2;
}


/*.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
   // height: 4.5rem;
   height: 
   height: 8.67vh;
   position: fixed;
} */
