.card-panel{
    width: 14.5rem;
    height:  7.063rem;
    border: 0.0625rem solid #e6e6e6;
    background-color: #ffffff;
    border-radius: 0rem;
    margin-left: 1.313rem;
    margin-right: 1.313rem;
    //padding: 0rem;
    padding-right: 1rem;
    padding-left: 1.25rem;
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
 //   z-index: 3;
 //   position: relative;

    &__description-font{
        color: #414142;
        font-family: "Open Sans";
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1.375rem;
      //  margin-right: 1rem;
     //   padding-left: 1.25rem;
     //   padding-top: 1.375rem;
    }

 //   overflow-x: auto; 
}

.delete-list-icon{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  //  margin-left: 10rem;

}


.delete-list-icon:hover{
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
 //   margin-left: 10rem;

}


.users-panel{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.users-panel-due-date{
  //  margin-left: 1.188rem;
   // margin-bottom: 1.188rem;

    &__font{
        font-family: "Open Sans" sans-serif;
        font-size: 0.6875rem;
        font-weight: 400;
        line-height: 1.188rem;
    }
}

.users-panel-members{

    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}






