.board-field{
    background-size: cover;
    background-position: center center;
    border-radius: 0.1875rem;
    color: #fff;
    display: block;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 9pt;
    position: relative;
    text-decoration: none;
   // width: 15rem;
    height: 6rem;
    //width: 25%;
    width: 15.63rem;
    background-color: rgb(0, 121, 191);
     cursor: pointer;
}

.board-field-fade{
    background-color: rgba(0,0,0,.15);
    border-radius: 0.1875rem;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.board-field-details{
    display: block;
   // min-height: 5pc;
    padding-right: 2.25rem;
    position: relative;
}

.board-field-details.is-badged{
   min-height: 3.75rem;
   padding-bottom: 1.25rem;
}


.board-field:hover
.board-field-fade 

{
    color: #fff;
    text-decoration: none;
    background-color: rgba(0,0,0,0.25);

 
    
}

.board-field:hover > .show-delete-icon{
    display: inline;
    transition: left 0.5s linear;
    position: absolute;
    left: 12;

   
}

.board-field-details-name{
    font-size: 1.3rem;
    font-weight: 700;
    display: inline-block;
    overflow: hidden;
    max-height: 2.5rem;
    color: #fff; 
}

.board-field-delete {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    color: #fff;
    line-height: 20px;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    background-color: transparent;
    border: 0;
    width: 3.5rem; 
    height: 3.5rem;
}

.board-field-delete-icon:hover{
   width: 1.6rem;
   height: 1.6rem;
   
}

.show-delete-icon{
    display: none;
    position: absolute;
    left: 14;
}

.hide-delete-icon{
    display: none;    
}

.board-field-delete-icon{
    width: 1.1rem;
    height: 1.1rem;
}



@media (max-width: 768px) {
    
    a.board-field{
        width: 75.8vw;
    }
}







